div{
	color: black;
}
#container{	
	background-color: gray;
	text-align: center;
	}
#Part1{
	background-color: orange;
}
#Part2{
	background-color: gray;
	text-align: center;
}

img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

